<p style="color: green"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Treatment</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @patient %>
  </tbody>
</table>

<div>
  <%= link_to "Edit this patient", edit_patient_path(@patient) %> |
  <%= link_to "Back to patients", patients_path %>

  <%= button_to "Destroy this patient", @patient, method: :delete %>
</div>
